/* CSS Styles */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lunasima:wght@400;700&display=swap');

* {
  font-family: 'Manrope', sans-serif !important;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
}

/* GENERAL SIDEBAR */

#sidebar {
  width: auto;
  min-width: 240px;
  max-width: 290px;
  height: 100vh;
  letter-spacing: 0.2px;
  flex-shrink: 0;
  user-select: none;
}

.sidebar-title {
  /* border-bottom: rgb(218, 218, 218) solid 1px; */
  color: black;
  font-size: 1.5em;
  margin: 0;
  display: flex;
  align-items: center;
  padding: 10px;
}

.sidebar-title>span {
  font-weight: 700;
  font-size: 26px;
  margin-right: 11px;
}

.sidebar-layout-header {
  margin-top: 12px;

  font-size: large;
  font-weight: 600;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: default;
}

/* SIDEBAR WIDGETS */

.sidebar-widget {
  background-color: #fff;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar-widget:hover {
  background-color: rgb(246, 253, 247);
  color: rgb(58, 160, 213);
  cursor: pointer;
}

.sidebar-widget.active {
  background-color: rgb(235, 242, 245) !important;
  color: rgb(85, 168, 69) !important;
}

.sidebar-button {
  width: 83%;
  margin-left: 20px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.sidebar-button:hover {
  cursor: pointer;
}

.sidebar-spacer {
  border-bottom: rgb(218, 218, 218) solid 1px;
}

.sidebar-spacer.extra {
  margin: 10px 15px;
}

/* SIDEBAR DYNAMIC WIDGETS */

.tree {
  letter-spacing: 0.4px;
  margin-top: 6px;
  padding: 0px;
}

.tree ul {
  margin: 0px;
  padding: 0px;
}

.tree li {
  list-style-type: none;
  padding-left: 15px;
  line-height: 38px;
  margin-left: 5px;
  padding-right: 5px;
}

.tree .active {
  color: rgb(85, 168, 69) !important;
}

.has-file {
  /* REMOVE IF FILE SIZE ISSUES */
  line-height: 1.8 !important;
}

/* SIDEBAR ICONS */

.icon {
  margin-right: 10px;
  padding-bottom: 2.2px;
}

.icon-search {
  font-size: 13px;
  text-decoration: none;
  color: rgb(58, 160, 213);
}

.icon-result {
  margin-left: 3px;
  margin-right: 9px;
  padding-bottom: 2.6px;
}

.icon-tag {
  margin-right: 8px;
  padding-bottom: 2.5px;
}

.icon-explore {
  margin-bottom: 10px;
  margin-right: 10px;
}

.icon-explore:hover {
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/* WIDGET FLEX BOX */

.flex-container {
  display: flex;
}

.flex-item {
  flex: 1;
  padding: 10px;
}

.item-1 {
  padding: 0;
  margin: 0;
  flex-basis: 85%;
}

.item-2 {
  padding: 0;
  margin: 0;
  flex-basis: 15%;
}

/* SIDEBAR SIDE BORDER */

#content-border {
  border-left: 1px solid rgb(218, 218, 218);
}

/* MODEL STYLES */

.modal-content {
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-header {
  border-bottom: none;
}

#searchResults {
  padding-left: 5px;
  padding-right: 5px;
}

.result-blob {
  padding: 10px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 10px;
}

.result-blob:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.result-blob img[alt="Badge"] {
  margin-top: 6px;
}

/* MODAL TABLE */

.modal-header table {
  width: 100%;
}

.modal-header h3 {
  margin-left: 10px;
}

.modal-header p {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
}

/* EXPLORE PAGE */

.explore-page p {
  letter-spacing: 0.2;
}

/* CONTENT PAGE */

#content {
  font-family: Lunasima, sans-serif !important;
  letter-spacing: 0.7px;
  flex: 1;
  padding-left: 40px;
  padding-right: 45px;
  padding-top: 25px;
  margin-bottom: 20px;
  background-color: rgba(240, 240, 240, 0.1);
}

#content h1 {
  font-size: 2.4rem;
  font-weight: 800;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

#content h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

#content h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 22px;
  margin-bottom: 10px;
}

#content h4 {
  font-size: 1.4rem;
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#content table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#content table thead {
  background-color: rgb(235, 242, 245);
}

#content table th {
  padding: 10px;
  text-align: left;
  font-weight: 600;
}

#content table td {
  padding: 10px;
  border-bottom: 1px solid rgb(218, 218, 218);
}

#content main img {
  max-width: 100%;
  height: auto;
  margin: 4px;
}

#content pre {
  font-family: 'Manrope', sans-serif !important;
  font-size: 0.9rem;
  background-color: rgb(218, 236, 244);
  border-radius: 10px;
  padding: 20px;
}

#content pre span {
  color: rgb(255, 38, 0);
  font-size: 16px;
}

#content pre code span {
  color: grey;
  font-size: 16px;
}

#content pre code i {
  color: grey;
}